.menu {
	float: left;
    /*border: 1px black solid;*/
}
.miner-container {
    float: left;
    margin-left: 10px;
    /*border: 1px black solid;*/
    background-color: #efefef;
    padding: 30px;
}