<div class='table-responsive'>
    <table class='table' *ngIf='showTable'>
        <thead>
            <tr>
                <th *ngFor='let col of tableColumns'>
                    {{col.exhibitionName}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let row of tableRows'>
                <td *ngFor='let col of tableColumns'>
                    {{getRowValue(row, col.fieldId)}}
                </td>
            </tr>
        </tbody>
    </table>
</div>